In [1]:
import pandas as pd
data=pd.read_csv("생활인구 회귀.csv",encoding='CP949')
del data['Unnamed: 0']
csv=pd.read_csv("randomforest_prediction.csv",encoding='CP949')

In [2]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error,r2_score
import numpy as np

In [3]:
data.columns

Index(['시도', '시군구', '읍면동', '행정동 코드', '병원', '학교', '학원', '문화시설', '관광명소', '대형마트',
       '편의점', '지하철', '음식점', '카페', '2022년06월_총인구수', '위도', '경도', '토지 매매가',
       '총생활인구수'],
      dtype='object')

In [4]:
np.random.seed(1003)

In [5]:
y=data['총생활인구수']
x=data[['2022년06월_총인구수','편의점','카페','음식점','토지 매매가']]

from sklearn.model_selection import train_test_split
X_train,X_validation,y_train,y_validation=train_test_split(
    x,y,test_size=0.2,random_state=1003)

In [6]:
regressor=RandomForestRegressor(n_estimators=300,max_features=3)
regressor.fit(X_train, y_train)

RandomForestRegressor(max_features=3, n_estimators=300)

In [7]:
x=csv[['2022년06월_총인구수','편의점','카페','음식점','토지 매매가']]
pred=regressor.predict(x)

In [8]:
pd.options.display.float_format = '{:.5f}'.format
pd.DataFrame({'총 생활인구수 예측값':pred})

        총 생활인구수 예측값
0    25152469.65527
1    33241494.57973
2     8531234.66464
3    21024960.02997
4    24172472.90447
...             ...
1136 23007761.47728
1137 29504901.38173
1138 22978760.89771
1139 97041800.36520
1140 44982164.11027

[1141 rows x 1 columns]

In [9]:
csv['총 생활인구수 예측값']=pd.DataFrame({'총 생활인구수 예측값':pred})
csv

,Unnamed: 0,V1,시도,시군구,읍면동,2022년06월_총인구수,행정동 코드,위도,경도,반지름,...,문화시설,관광명소,대형마트,편의점,지하철,음식점,카페,토지 매매가,총생활인구수,총 생활인구수 예측값
0,1,0,서울,종로구,청운효자동,11803.00000,1101072,37.58716,126.97070,904.18914,...,1,15,0,11,0,205,126,1588.98300,25470514.63000,25152469.65527
1,2,1,서울,종로구,사직동,9310.00000,1101053,37.57664,126.97116,607.26683,...,17,10,0,25,1,805,277,336.16600,34437571.68000,33241494.57973
2,3,2,서울,종로구,삼청동,2386.00000,1101054,37.59112,126.98199,686.19166,...,0,4,0,2,0,34,25,1346.75700,7418248.20800,8531234.66464
3,4,3,서울,종로구,부암동,9432.00000,1101055,37.59971,126.96433,850.91950,...,0,4,0,12,0,137,66,46.65200,20904314.81000,21024960.02997
4,5,4,서울,종로구,평창동,17963.00000,1101056,37.61844,126.96891,1687.60807,...,0,4,0,11,0,121,54,231.63500,24330830.31000,24172472.90447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1136,1137,1136,경기,일산서구,탄현 2동,19677.00000,3110461,37.69810,126.77920,628.25493,...,0,1,0,5,0,81,17,55.55600,NaN,23007761.47728
1137,1138,1137,경기,덕양구,행신 3동,23835.00000,3110174,37.62130,126.84571,785.82516,...,0,3,1,23,0,199,26,263.41000,NaN,29504901.38173
1138,1139,1138,경기,덕양구,행신 4동,20604.00000,3110175,37.64890,126.85170,665.16971,...,0,1,0,1,0,25,3,263.41000,NaN,22978760.89771
1139,1140,1139,경기,남양주시,화도읍,66385.00000,3113017,37.64670,127.31140,4773.85941,...,0,14,2,110,2,1201,220,57.67700,NaN,97041800.36520
1140,1141,1140,경기,덕양구,흥도동,29425.00000,3110171,37.63580,126.86100,1895.10013,...,0,9,1,32,0,292,106,89.06600,NaN,44982164.11027

In [10]:
csv.to_csv('총 생활인구수 예측.csv',encoding='CP949',index=False)

https://wooono.tistory.com/115

https://jimmy-ai.tistory.com/115


https://zel0rd.tistory.com/33

https://tensorflow.blog/%ED%95%B8%EC%A6%88%EC%98%A8-%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D-1%EC%9E%A5-2%EC%9E%A5/2-7-%EB%AA%A8%EB%8D%B8-%EC%84%B8%EB%B6%80-%ED%8A%9C%EB%8B%9D/

https://injo.tistory.com/30